html {
    scroll-behavior: smooth;
}
/* Navigation */
.navbar {
    font-size:1.2em;
    padding: 10px 0;
}
.navbar-brand {
    padding-left: 30px;
    font-weight: 400;
    font-size: 1.3em;
}
.navbar-toggler {
    border: none;
}
#google_translate_element {
    padding-top: 10px;
    padding-left: 10px;
}